.wrapper {
    margin: 0 auto;
    max-width: 1400px;
}

:root {
    --main-font: "Raleway", sans-serif;
    --desktop-text: 14px;
    --desktop-text-M: 18px; 
    --desktop-text-button: 22px;
    --desktop-text-L: 24px;
    --desktop-text-XL: 46px;
    --desktop-text-XXL: 58px;
    --font-main-color: #001A34;
    --font-invert-color: #FFFFFF;
    --primary-color: #005BFF;
    --desktop-block-Y-margin: 80px;
}